
.mainDownloadContainer{
	width:100%;
	height:100%;
	background:#fff;
}

.downloadContainer{
	width:954px;
	height:154px;
}
.imgBox {
	float:left;
	position:relative;
}
.middleBox{
	margin-left:1px;
	float:left;
	width:379px;
	height:134px;
	background:#202020;
	padding: 10px;
}
.middleBox h4{
	font-family: microsoft yahei;
	font-size: 15px;
	color: #ffd200;
}
.middleBox p{
	text-indent:20px;
	font-family: microsoft yahei;
	font-size: 12px;
	color: #fff;
	line-height:26px;
}
.lastBox {
	float:left;
	margin-left:1px;
	width:218px;
	height:137px;
	background:#202020;
	padding-top:10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}
.lastBox  h4{
	font-family: microsoft yahei;
	font-size: 15px;
	color: #ffd200;
}
.lastBox p{
	text-align:right;
}
.lastBox p a{
	color:#F00;
	text-decoration:none;
	font-size:12px;
}
.lastBox p a:hover{
	text-decoration:underline;
}
.lastBox ol li{
	color:#fff;
	font-size:12px;
	line-height:16px;
}
.lastBox ol{
	margin:2px 0 0 30px;
	list-style:decimal;
}

.imgBox1 {
	background:url('../images/Download/DL1.jpg') no-repeat;
	width: 314px;
	height: 54px;
	padding-top: 100px;
}
.imgBox2 {
	background:url('../images/Download/DL2.jpg') no-repeat;
	width: 314px;
	height: 69px;
	padding-top: 95px;
}

.dlButton1
{
	background:url('../images/DLbutton1.png') no-repeat;
	width: 185px;
	height: 43px;
	border: none;
	outline:none;
	display: block;
	cursor: pointer;
	float: right;
}

.dlButton1:hover
{
	background:url('../images/DLbutton1hover.png') no-repeat;
	border: none;
	outline:none;
	display: block;
}

.dlButton2
{
	background:url('../images/EAbutton1.png') no-repeat;
	width: 185px;
	height: 43px;
	border: none;
	outline:none;
	display: block;
	cursor: pointer;
	float: left;
}

.dlButton2:hover
{
	background:url('../images/EAbutton1hover.png') no-repeat;
	border: none;
	outline:none;
	display: block;
}