<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
  <authentication mode="Forms" />
  <compilation debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add tagPrefix="TianlongHead" tagName="Header" src="~/usercontrol/MainHeader.ascx" />
        <add tagPrefix="TianlongHeadLoggedIn" tagName="HeaderLogged" src="~/usercontrol/HeaderLoggedIn.ascx"/>
        <add tagPrefix="TianlongNavigation" tagName="MainNavigation" src="~/usercontrol/MainNavigation.ascx" />
        <add tagPrefix="TianlongFooterLI" tagName="Footer" src="~/usercontrol/Footer.ascx" />
        <add tagPrefix="CCenter" tagName="CustomerCenter" src="~/usercontrol/CustomerService.ascx" />
        <add tagPrefix="CCCustomer" tagName="CCenters" src="~/usercontrol/customercenter/CustomerServiceDL.ascx" />

        <add tagPrefix="TLCCTabFirst" tagName="TheTab" src="~/usercontrol/customercenter/TabNavFirst.ascx" />
        <add tagPrefix="TLCCTabSecond" tagName="UserTab" src="~/usercontrol/customercenter/TabNavSecond.ascx" />

        <add tagPrefix="TianlongHeadCC" tagName="SiteHeader" src="~/usercontrol/customercenter/Header.ascx"/>
        <add tagPrefix="TianlongNavTop" tagName="Navigation" src="~/usercontrol/customercenter/Navigation-Top.ascx"/>
        <add tagPrefix="TianlongLeftSidebar" tagName="LeftSidebar" src="~/usercontrol/customercenter/LeftSidebar.ascx" />
        <add tagPrefix="TianlongFooterCC" tagName="FooterCC" src="~/usercontrol/customercenter/Footer.ascx"/>
        <add tagPrefix="TianlongCustomerCenter" tagName="CustomerChat" src="~/usercontrol/customercenter/TianlongCustomerSupport.ascx"/>
      </controls>
    </pages>
	</system.web>
</configuration>
