/*  Second Menu Change Password */
.changePasswordContainer {
	width:704px;
	height:auto;
	background:#e8e8e8;
	border:1px #acacac solid;
	padding:12px;
	margin-top:10px;
}
.changePasswordContainer h1 {
	font-size:24px;
	color:#0c0c0c;
}
.changePasswordContainer table {
	margin-left:40px;
}
.changePasswordContainer table td {
	font-size:12px;
	color:#0c0c0c;
	padding: 2px;
}
.changePasswordContainer .textLabel {
	font-size: 14px;
	text-align:right;
}
.changePasswordContainer table .changePasswordField{
	width:227px;
	height:26px;
	border:#b8b8b8 1px solid;
	outline:none;
}
.changePasswordContainer table td span.remarks {
	color:#ff0000;
}
.changePasswordContainer .changePasswordBtn {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png');
	border:none;
	outline:none;
	color:#fff;
	font-weight:bold;
}
.changePasswordContainer .changePasswordBtn:hover {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png') 0px -33px;
	cursor:pointer;
}
.changePasswordSecondContainer {
	width:728px;
	height:auto;
	background:#e8e8e8;
	border:1px #acacac solid;
	margin-top:10px;
	padding-top:5px;
}
.changePasswordSecondContainer h2 {
	font-size:15px;
	color:#ffffff;
	background:url('../../images/changePasswordHeaderTitleBg.png');
	width:88px;
	height:22px;
	line-height:22px;
	text-align:center;
}
.changePasswordSecondContainer ol {
	font-size:12px;
	color:#ff0a00;
}
.changePasswordSecondContainer ol li{
	margin-bottom:5px;
	font-weight:bold;
}

/* Password Protect Tab */

.passwordProtectContainer {
	width:704px;
	height:auto;
	background:#e8e8e8;
	border:1px #acacac solid;
	padding:12px;
	margin-top:10px;
}
.passwordProtectContainer h1 {
	font-size:24px;
	color:#0c0c0c;
}
.passwordProtectContainer table {
	width:100%;
}
.passwordProtectContainer table td {
	font-size:12px;
	color:#0c0c0c;
	padding: 2px;
}
.passwordProtectContainer .textLabel {
	font-size: 14px;
	text-align:right;
	width:100px;
}
.passwordProtectContainer table .protectPasswordSelect{
	width:227px;
	height:32px;
	border:#b8b8b8 1px solid;
	outline:none;
	color:#929292;
}
.passwordProtectContainer table td span.remarks {
	color:#ff0000;
}
.passwordProtectContainer .changePasswordBtn {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png');
	border:none;
	outline:none;
	color:#fff;
	font-weight:bold;
}
.passwordProtectContainer .changePasswordBtn:hover {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png') 0px -33px;
	cursor:pointer;
}

/* Inner Transfer Tab (5th Menu)*/
.accountsTransferContainer {
	margin-top:10px;
}
.accountsIllustration {
	width:390px;
	float:left;
	height:175px;
	background:#e8e8e8;
	border:1px #acacac solid;
}
.accountsIllustration .topAccount {
	border-bottom:1px solid #bebdbd;
	height:37px;
	padding:25px 20px;
}
.accountsIllustration .bottomAccount {
	border-top:1px solid #fff;
	height:37px;
	padding:25px 20px;
}
.topAccount .leftLabel {
	color:#000;
	font-size:25px;
	float:left;
	font-weight:bold;
}
.topAccount .rightLabel {
	color:#ff0007;
	font-size:25px;
	float:right;
	font-weight:bold;
	padding-right:20px;
	background:url(../../images/greenArrow.png) no-repeat right;
}
.bottomAccount .leftLabel {
	color:#000;
	font-size:25px;
	float:left;
	font-weight:bold;
}
.bottomAccount .rightLabel {
	color:#ff0007;
	font-size:17px;
	float:right;
	font-weight:bold;
	padding-right:20px;
	background:url(../../images/redArrow.png) no-repeat right;
}
.accountsTransfer {
	float:right;
	width:310px;
	height:175px;
	background:#e8e8e8;
	border:1px #acacac solid;
}
.accountsTransfer h4 {
	background-color:#191919;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	line-height: 34px;
	padding-left: 10px;
}
.accountsTransfer table {
	width:310px;
	margin:0 auto;
	font-size:12px;
}
.accountsTransfer table td{
	padding:2px 3px;
	text-align:left;
}
.accountsTransfer table td.textLabel{
	font-size:14px;
	padding:0px 3px;
	text-align:right;
}
.accountsTransfer .accountTransferSelect {
	width:176px;
	height:25px;
	border:#b8b8b8 1px solid;
	outline:none;
	color:#6c6c6c;
	font-size:12px;
}
.accountsTransfer .transferButton {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png');
	border:none;
	outline:none;
	color:#fff;
	font-weight:bold;
}
.accountsTransfer .transferButton:hover {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png') 0px -33px;
	cursor:pointer;
}
.transferInstructionsContainer {
	height:auto;
	background:#e8e8e8;
	border:1px #acacac solid;
	margin-top:10px;
}
.trasferInstructionsTitle {
	padding:10px 0px 0px 15px;
	height:40px;
	border-bottom:#bebdbd 1px solid;
}
.trasferInstructionsTitle h1 {
	font-size:16px;
	color:#ff0000;
	padding-left:50px;
	width:120px;
	height:27px;
	line-height:25px;
	background:url(../../images/accountTransferCard.png) no-repeat;
	margin:0px;
}

.trasferInstructionsBody {
	border-top:1px solid #ffffff;
}
.trasferInstructionsBody ol {
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
.trasferInstructionsBody li {
	margin-bottom:10px;
}
.trasferInstructionsBody ul {
	list-style-type:none;
	margin-top:10px;
}
.trasferInstructionsBody ul li {
	color:#666666;
	font-size:12px;
	font-weight:bold;
}

/* Check Integral */
.creditInquiriesAcct {
	background:url(../../images/gradient.png) repeat-x;
	height:23px;
	border:dashed 2px #bbcbef;
	padding:30px 10px;
}
.creditInquiriesAcctContainer {
	background:#e3e1e2;
	border:solid 6px #eff0f1;
	margin-top:10px;
}
.creditInquiriesTitle {
	float:left;
}
.creditInquiriesTitle h1{
	color:#000;
	font-size:18px;
}
.totalPointsContainer {
	float:right;
}
.totalPointsContainer span {
	color:#000;
	font-size:18px;
	font-weight:bold;
}
.totalPointsContainer span.totalPointsValue {
	color:#ff0000;
}

.creditInquiriesTable {
	width:716px;
	height:auto;
	background:#e8e8e8;
	border:2px #acacac solid;
	padding:5px;
	margin-top:10px;
}
.creditInquiriesTable table {
	width:100%;
	text-align:center;
}
.creditInquiriesTable table,
.creditInquiriesTable tr,
.creditInquiriesTable th,
.creditInquiriesTable td {
	border-collapse:collapse;
	border:1px #ae9d9d solid;
}
.creditInquiriesTable th {
	background:#e7dfff;
	font-size:13px;
	color:#000;
	padding:10px;
}
.creditInquiriesTable td {
	font-size:13px;
	color:#000;
	padding:10px;
}
.creditInquiriesTable tr:nth-child (even) {
	background:#6f3f3f3;
}
.creditInquiriesTable tr:nth-child(odd) {
	background:#ffffff;
}
.creditInquiriesTable .pagination
{
	font-size: 10px;
	float: right;
	margin-top: 7px;
	margin-right: 1px;
	color: #323232;
}
.creditInquiriesTable .pagination select
{
	font-size: 11px;
	color: #575757;
}
.creditInquiriesTable .pagination .sample
{
	width: 20px;
	font-size: 11px;
	color: #575757;
}
.creditInquiriesTable .pagination span {
	margin-left: 3px;
}
.creditInquiriesTable .pagination a
{
	cursor: pointer;
	text-decoration: none;
	color: #575757;
	font-size: 11px;
}
.creditInquiriesTable .pagination a:hover
{
	background-color: #c8c8c8;
	padding-top: 3px;
	padding-bottom: 4px;
}
/* News CSS */

.messageCenterContainer {
	width:704px;
	height:auto;
	background:#f3f3f2;
	border:1px #acacac solid;
	padding:12px;
	margin-top:10px;
}
.messageCenterContainer h1 {
	font-size:24px;
	color:#0c0c0c;
}
.messageCenterContainer {
	width:686px;
	height:auto;
	background:#e8e8e8;
	border:2px #acacac solid;
	padding:20px;
	margin-top:10px;
}
.messageCenterContainer .messageCenterTable {
	width:100%;
	text-align:center;
	margin-top:10px;
	border-collapse:collapse;
}

.messageCenterTable tr,
.messageCenterTable th,
.messageCenterTable td {
	border-collapse:collapse;
	border:1px #ae9d9d solid;
}
.messageCenterTable th {
	background:#d6d6d5;
	font-size:13px;
	color:#000;
	padding:10px;
}
.messageCenterTable td {
	font-size:13px;
	color:#000;
	padding:10px;
}
.messageCenterContainer span.operating {
	color:#ff0000;
	font-weight:bold;
}

span.operating  a
{
	color:#ff0000;
	font-weight:bold;
	text-decoration:none;
	display:block;
}

.messageCenterContainer .pagination
{
	font-size: 10px;
	text-align:center;
	margin-top: 7px;
	margin-right: 1px;
	color: #323232;
}
.messageCenterContainer .pagination select
{
	font-size: 11px;
	color: #575757;
}
.messageCenterContainer .pagination .sample
{
	width: 20px;
	font-size: 11px;
	color: #575757;
}
.messageCenterContainer .pagination span {
	margin-left: 3px;
}
.messageCenterContainer .pagination a
{
	cursor: pointer;
	text-decoration: none;
	color: #575757;
	font-size: 11px;
}
.messageCenterContainer .pagination a:hover
{
	background-color: #c8c8c8;
	padding-top: 3px;
	padding-bottom: 4px;
}
.messageContainer {
	margin-top:10px;
	border-top: 1px dashed #707070;
	padding:10px;
}
.messageContainer td {
	padding:2px;
}
.messageContainer td.textLabel {
	color:#000;
	font-size:12px;
	text-align:right;
	vertical-align:text-top;
}
.messageTable .messageField {
	width:545px;
	height:22px;
	border:1px solid #b0b0b0;
	outline:none;
}
.messageTable .messageTextarea {
	width:541px;
	height:114px;
	border:1px solid #b0b0b0;
	outline:none;
}
.messageTable .submitMessage {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png');
	border:none;
	outline:none;
	color:#fff;
	font-weight:bold;
}
.messageTable .submitMessage:hover {
	width:130px;
	height:32px;
	background:url('../../images/buttonChangePassword.png') 0px -33px;
	cursor:pointer;
}